@import "tailwindcss";

.motion-safe-transform {
  will-change: transform, opacity;
  transform: translateZ(0);
}

html, body {
  -ms-overflow-style: none; 
  scrollbar-width: none;    
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
